[Unit]
Description=Livereduce Watchdog
After=livereduce.service

[Service]
WorkingDirectory=/tmp
User=snsdata
ExecStart=/usr/bin/livereduce_watchdog.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
