[Unit]
Description=Live processing service

[Service]
WorkingDirectory=/tmp
User=snsdata
ExecStart=/usr/bin/livereduce.sh
Restart=always
# StartLimitInterval and StartLimitBurst were moved to [Unit] in systemd version 241
StartLimitInterval=8640
StartLimitBurst=1000
RestartSec=10

[Install]
WantedBy=multi-user.target
